# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na temperatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [124]:
import pandas as pd
import numpy as np

# definindo as Series
alteracao_temp = [-0.08,-0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
alteracaoTempSeriesSemIndex = pd.Series(data=alteracao_temp)

indice = [1900, 1920, 1940, 1960, 1980, 2000, 2020]

print (indice)
print (alteracaoTempSeriesSemIndex)

[1900, 1920, 1940, 1960, 1980, 2000, 2020]
0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [126]:

# Criando a serie com data e index
alteracaoTempSeriesComIndex = pd.Series (data=alteracao_temp, index=indice)
print(alteracaoTempSeriesComIndex)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [128]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# Transformando o dicionário em serie
series_temperaturas = pd.Series(dic_temperaturas)
series_temperaturas

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [130]:
arr = np.random.normal(100, 10, (20,3))

print (arr)

[[ 86.32531487 108.73817346  90.80499392]
 [ 97.30682671  98.32783859 105.77479702]
 [ 99.74201364  97.55378683  84.69340919]
 [119.70471931  98.89249139 104.6407006 ]
 [102.23407763 104.84053281  94.51918969]
 [103.67964385 107.468887   115.12757036]
 [ 93.56486918  91.39379382 104.86518773]
 [101.36072899 110.34744903 110.85155683]
 [ 92.42323273  99.84518539 102.98858772]
 [100.68841186 116.62982819 107.29544227]
 [113.89251199 115.8403748   87.92217655]
 [ 96.78695764 108.65928374 109.24037799]
 [ 94.70255366 107.09370517 112.33301874]
 [ 98.67341018 100.77526333  99.32689143]
 [105.28775468  99.86224487 106.36731019]
 [ 87.88907059  90.28045828 101.16505622]
 [101.64555774  87.73731777 103.42159565]
 [101.05179876  84.65375275  82.63301297]
 [ 89.36506114 108.18768722  97.59617261]
 [107.81135875  98.38539998  87.71607464]]

In [132]:
# Transforme o ndarray em um dataframe
novo_df = pd.DataFrame(arr)
novo_df

             0           1           2
0    86.325315  108.738173   90.804994
1    97.306827   98.327839  105.774797
2    99.742014   97.553787   84.693409
3   119.704719   98.892491  104.640701
4   102.234078  104.840533   94.519190
5   103.679644  107.468887  115.127570
6    93.564869   91.393794  104.865188
7   101.360729  110.347449  110.851557
8    92.423233   99.845185  102.988588
9   100.688412  116.629828  107.295442
10  113.892512  115.840375   87.922177
11   96.786958  108.659284  109.240378
12   94.702554  107.093705  112.333019
13   98.673410  100.775263   99.326891
14  105.287755   99.862245  106.367310
15   87.889071   90.280458  101.165056
16  101.645558   87.737318  103.421596
17  101.051799   84.653753   82.633013
18   89.365061  108.187687   97.596173
19  107.811359   98.385400   87.716075

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [134]:
#seu código aqui
novo_df = pd.DataFrame(arr, columns = ["x1", "x2", "x3"], index= range(1, 21))
novo_df

            x1          x2          x3
1    86.325315  108.738173   90.804994
2    97.306827   98.327839  105.774797
3    99.742014   97.553787   84.693409
4   119.704719   98.892491  104.640701
5   102.234078  104.840533   94.519190
6   103.679644  107.468887  115.127570
7    93.564869   91.393794  104.865188
8   101.360729  110.347449  110.851557
9    92.423233   99.845185  102.988588
10  100.688412  116.629828  107.295442
11  113.892512  115.840375   87.922177
12   96.786958  108.659284  109.240378
13   94.702554  107.093705  112.333019
14   98.673410  100.775263   99.326891
15  105.287755   99.862245  106.367310
16   87.889071   90.280458  101.165056
17  101.645558   87.737318  103.421596
18  101.051799   84.653753   82.633013
19   89.365061  108.187687   97.596173
20  107.811359   98.385400   87.716075

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [136]:
# Achando a média e adicionando uma coluna na tabela
media_valores = novo_df.mean(axis=1)
novo_df['media'] = media_valores
novo_df

            x1          x2          x3       media
1    86.325315  108.738173   90.804994   95.289494
2    97.306827   98.327839  105.774797  100.469821
3    99.742014   97.553787   84.693409   93.996403
4   119.704719   98.892491  104.640701  107.745970
5   102.234078  104.840533   94.519190  100.531267
6   103.679644  107.468887  115.127570  108.758700
7    93.564869   91.393794  104.865188   96.607950
8   101.360729  110.347449  110.851557  107.519912
9    92.423233   99.845185  102.988588   98.419002
10  100.688412  116.629828  107.295442  108.204561
11  113.892512  115.840375   87.922177  105.885021
12   96.786958  108.659284  109.240378  104.895540
13   94.702554  107.093705  112.333019  104.709759
14   98.673410  100.775263   99.326891   99.591855
15  105.287755   99.862245  106.367310  103.839103
16   87.889071   90.280458  101.165056   93.111528
17  101.645558   87.737318  103.421596   97.601490
18  101.051799   84.653753   82.633013   89.446188
19   89.365061  108.187687   97.596173   98.382974
20  107.811359   98.385400   87.716075   97.970944

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [138]:
# Calculando o logaritmo natural da média e acrescentando uma coluna 'log_med'
logaritimo_media = np.log(novo_df['media'])
novo_df['log_med'] = logaritimo_media
novo_df

            x1          x2          x3       media   log_med
1    86.325315  108.738173   90.804994   95.289494  4.556920
2    97.306827   98.327839  105.774797  100.469821  4.609857
3    99.742014   97.553787   84.693409   93.996403  4.543257
4   119.704719   98.892491  104.640701  107.745970  4.679776
5   102.234078  104.840533   94.519190  100.531267  4.610469
6   103.679644  107.468887  115.127570  108.758700  4.689132
7    93.564869   91.393794  104.865188   96.607950  4.570661
8   101.360729  110.347449  110.851557  107.519912  4.677676
9    92.423233   99.845185  102.988588   98.419002  4.589234
10  100.688412  116.629828  107.295442  108.204561  4.684024
11  113.892512  115.840375   87.922177  105.885021  4.662354
12   96.786958  108.659284  109.240378  104.895540  4.652965
13   94.702554  107.093705  112.333019  104.709759  4.651192
14   98.673410  100.775263   99.326891   99.591855  4.601080
15  105.287755   99.862245  106.367310  103.839103  4.642843
16   87.889071   90.280458  101.165056   93.111528  4.533798
17  101.645558   87.737318  103.421596   97.601490  4.580893
18  101.051799   84.653753   82.633013   89.446188  4.493637
19   89.365061  108.187687   97.596173   98.382974  4.588868
20  107.811359   98.385400   87.716075   97.970944  4.584671